OPENAI_API_KEY="YOUR_API_KEY"

# Required for agent example
# SERPAPI_API_KEY="YOUR_API_KEY"

# Required for retrieval examples
# SUPABASE_PRIVATE_KEY="YOUR_SUPABASE_PRIVATE_KEY"
# SUPABASE_URL="YOUR_SUPABASE_URL"

# Optional: For Tracing with LangSmith
# LANGCHAIN_TRACING_V2=true
# LANGCHAIN_API_KEY=YOUR_API_KEY
# LANGCHAIN_PROJECT=nextjs-starter

# Optional: Other model keys
# ANTHROPIC_API_KEY="YOUR_API_KEY"

# Turn on demo mode
# NEXT_PUBLIC_DEMO="true"

///

# Pick Vector DB
VECTOR_DB=pinecone
# VECTOR_DB=supabase

# Clerk related environment variables
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_****
CLERK_SECRET_KEY=sk_****
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL=/
NEXT_PUBLIC_CLERK_AFTER_SIGN_UP_URL=/

# OpenAI related environment variables
OPENAI_API_KEY=sk-****

# Replicate related environment variables
REPLICATE_API_TOKEN=r8_****

# Pinecone related environment variables
PINECONE_API_KEY=bb****
PINECONE_ENVIRONMENT=us****
PINECONE_INDEX=ai****

# Supabase related environment variables
SUPABASE_URL=https://****
SUPABASE_PRIVATE_KEY=eyJ****

# Upstash related environment variables
UPSTASH_REDIS_REST_URL=https://****
UPSTASH_REDIS_REST_TOKEN=AZ****

# Twilio related environment variables
TWILIO_ACCOUNT_SID=AC***
TWILIO_AUTH_TOKEN=*****

# Steamship related environment variables
STEAMSHIP_API_KEY=****